@font-face {
  font-family: 'Lato';
  src: url('font/Lato-Black.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('font/Lato-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('font/Lato-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('font/Lato-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  
  
}

body {
  background: #292929;
}

section{
  position: relative;
  width: 100%;
  height:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #393939;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header .logo {
  position: relative;
  max-width: 250px;
}

header .btn {
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 38px;

color: #FFFFFF;
background: linear-gradient(90deg, #E95211 0%, #C1BA1F 100%);
border-radius: 10px;
padding: 8px 20px;
text-decoration: none;
}

header .dropdown-menu .gitlab-button {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
background-color: #a09f9f;
border-radius: 10px;
padding: 8px 20px;
text-decoration: none;
}

header .dropdown-menu .github-button {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
background: transparent;
border-radius: 10px;
padding: 8px 20px;

text-decoration: none;
}



header .dropdown .dropdown-menu {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
background: linear-gradient(90deg, #E95211 0%, #C1BA1F 100%);
border-radius: 10px;
padding: 5px 5px;

text-decoration: none;
}


.content {
  position: relative;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  font-style: normal;
  left: 86px;
  max-width: 800px;
  min-width: 500px;
}

.content .textbox h2 {
  font-weight: 800;
font-size: 72px;
line-height: 86px;
color: #FFFFFF;
}

.content .textbox h2 span {
  background: linear-gradient(90deg, #E95211 0%, #DDD624 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.content .textbox p {
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
text-align: justify;

color: #FFFFFF;
}

.content .textbox .github {
  display: inline-block;
  position: relative;
  left: 33%;
  margin-top: 20px;
  padding: 8px 20px;
  background: linear-gradient(90deg, #E95211 0%, #C1BA1F 100%);
  border-radius: 10px;
  text-decoration: none;

  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #FFFFFF;
  transition: 300ms;
}
.content .textbox .gitlab {
  display: inline-block;
  position: relative;
  left: 33%;
  margin-top: 20px;
  padding: 8px 20px;
  background: #a09f9f;
  border-radius: 10px;
  text-decoration: none;

  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #FFFFFF;
  transition: 300ms;
}

.content .imgBox {
  width: 1500px;
  display: flex;
  justify-content: flex-end;
}

.content .imgBox image{
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
}

/*.content .textbox .gitlab:hover{
  transform:scale(1.2,1.2);
}*/

.content .textbox .github:hover{
  transform:scale(1.2,1.2);
}

.content .generic {
  padding: 10px;
  display: inline-block;
  margin: 10px;
  position: relative;
  z-index: 0;
  background: #393939;
  border-radius: 10px;
}
.content .generic::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(99.85deg, #E95211 0%, rgba(229, 125, 23, 0) 26.67%, rgba(224, 179, 31, 0) 75.62%, #DDD624 100%);
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
          mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

}

.content .stats-grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /*grid-template-columns: max-content;*/
  column-gap: 0px;
  row-gap: 0px;

  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.content .stats-grid h3{
  position: relative;
  left: 0px;
  top: 0px;
  margin: 10px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;

  display: inline-flex;
  white-space: nowrap;
}

.content .profile{
  height: 140px;
  grid-column: 1 / span 3;

  min-width: fit-content;
  display: flex;

  color: #FFFFFF;
}

.content .general-stats{
  height: 140px;
  grid-column: 4 / span 2;

  min-width: fit-content;
  display: flex;
  justify-content: space-around;

  color: #FFFFFF;
}

.content .chart{
  height: 460px;
  grid-column: 1 / span 2;

  min-width: fit-content;
  display: flex;
  flex-direction: column;

  color: #FFFFFF;
}

@media (max-width: 800px){
  .content .stats-grid{
    grid-template-columns: 1fr;
  }
  .content .profile, .content .general-stats{
    grid-column: 1 / span 1;
  }
}

.content .profile .profile-picture{
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  z-index: 0;
  background: #494949;
  border-radius: 50px;
}

.content .profile .profile-data{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

}

.content .profile .profile-name{
  position: relative;
  margin: 10px;
  text-align: left;
  white-space: nowrap;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}

.content .profile .profile-username{
  position: relative;
  margin: 10px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

.content .general-stats .general-slot{
  position: relative;
  height: 118px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content .general-stats .general-slot h4{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;

  margin-top: 0px;
  margin-bottom: 0px;
}

.content .general-stats .general-slot h5{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  margin-top: 0px;
  margin-bottom: 0px;
}

.content .chart .chart-panel{
  position: relative;
  height: 350px;
  margin: 10px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .chart .chart-itself{
  position: relative;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.content .chart .chart-legend{
  position: relative;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

header .profile-picture{
  margin: 10px;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 1;
  background: #494949;
  border-radius: 30px;
}

header .logout-panel{
  background: #393939;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 120px;

  color: #FFFFFF;
}

header .logout-panel .profile-data{
  position: relative;
  padding-bottom: 10px;
}



header .logout-panel .profile-name{
  position: relative;
  margin: 10px;
  text-align: left;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 27px;


  
}

header .logout-panel .profile-username{
  position: relative;
  margin: 10px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

header .logout-panel .logout-button{
  position: relative;
  left: 0px;
  padding: 8px 10px;
  font-size: 24px;
  background: linear-gradient(90deg, #E95211 0%, #C1BA1F 100%);
  border-radius: 10px;
  text-decoration: none;
  text-align: justify;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 800;
}